body {
    background-color: #1e1e1e;
  }
  
  .forgotPasswordPage {
    color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .forgotPasswordHeading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .forgotPasswordForm {
    width: 100%;
  }
  
  .formGroup {
    margin-bottom: 20px;
    position: relative;
  }
  
  .inputWrapper {
    position: relative;
    width: 100%;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #ffffff;
    font-size: 14px;
    padding-left: 40px; /* Extra padding for the icon */
    box-sizing: border-box;
  }
  
  .inputField::placeholder {
    color: #888;
  }
  
  .inputField:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }
  
  .updateButton {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .updateButton:hover {
    background-color: #0056b3;
  }
  
  .logoutButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    color: #ff0000;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logoutButton:hover {
    color: #cc0000;
  }
  .logoutIcon {
    margin-right: 8px;
  }  