.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popupContent {
    background-color: #333; /* Black background */
    color: #fff; /* White text */
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  

  
  h3.sectionTitle {
    margin: 20px 0 10px;
    font-size: 16px;
  }
  
  .emailInput {
    width: 80%;
    padding: 8px;
    margin-bottom: 30px;
    color:#333; /* White text */
    border-radius: 4px;
    margin-left: 10px;
    font-weight: bold;
  }
  .shareButton{
    margin-left: -2px;
  }
  .shareButton,
  .copyButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .shareButton:hover,
  .copyButton:hover {
    background-color: #0056b3;
  }
  
  